@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

/* 
body{
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

*/

.item{
    margin-bottom: 100px;
    margin-top: 100px;
}


/*--Header and menu--*/
  
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    margin-bottom: 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(20px); 
    z-index: 3;
}

.logo{
    font-size: 2em;
    color: black;
    cursor: pointer;
    font-weight: 700;
    top: 10%;
    left: 0;
}

.logo a {
    text-decoration: none;
    color: black;
    top:0%;
    left: 0;
}

nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
}

nav a:not(:last-child){
    position: relative;
    font-size: 1rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
}

nav a:not(:last-child){
    margin-top: 10px;
    margin-right: 30px;
}

nav a:not(:last-child)::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

nav a:not(:last-child):hover::after{
    transform-origin: left;
    transform: scaleX(1);
    background: black;
}

.navbar-toggle {
    display: none;
    float: right;
    color: #333;
    font-size: 24px;
    padding: 16px 20px;
    cursor: pointer;
}

#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(101, 225, 196, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

#menu-content {
    display: none;
}
  
#menu-content a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: block;
    transition: 0.3s;
    margin-bottom: 15px;
    letter-spacing: 2px;
}
  
#menu-content a:hover {
    color: black;
}

.btn-login-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    text-align: center;
    padding-top: 6px;
    transition: all .5s ease;
}

.btn-login-popup:hover{
    background-color: white;
    font-size: 1.2em;
}

@media screen and (max-width: 900px) {
    .navbar-toggle {
      display: block;
    }
  
    .navbar a {
      display: none;
    }
  
    #menu{
        display: flex;
        justify-content: center;
    }

    .headline p{
        margin-left: 20px;
    }

    #menu-content a {
      display: block;
    }
}

@media screen and (max-width: 580px) {
    .btn-login-popup{
        display: none;
    }
}


/*--Above the Fold Section--*/

.above-fold{
    background: url('bg3.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
}

@media screen and (max-width: 750px) {
    
    .above-fold{
        margin-top: 100px;
    }
    
}

.headline{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headline p:not(.span){
    margin-left: 50px;
}

.headline p{
    font-size: 1.5em;
    font-weight: 700;
    margin-left: 1000px;
}

.headline p span{
    color: white;
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    margin-right: 100px;
}

.subheadline{
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 500;
}

.actionCall{
    display: flex;
    justify-content: center; 
}

.actionCall span{
    padding: 20px;
}

.actionCall a{
    text-decoration: none;
    color: white;
    background: black;
    padding: 10px;
    margin-left: 70px;
    border-radius: 6px;
    font-size: 0.9em;
    transition: .5s ease;
}

.actionCall a:hover{
    background: white;
    color: black;
    font-size: 1em;
}

.separator{
    border: 2px solid black;
    width: 90%;
}


/*--Features Section--*/

#feature, #service, #testimonials{
    width: 100%;
    background: white;
    margin: 0;
}

.below-fold{
    margin: 100px;
    padding-top: 150px;
    border: 2px solid white;
}

.title-text{
    text-align: center;
    padding-top: 0px;
    z-index: 1;

}

.title-text > p{
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    color: #019587;
    position: relative;
    display: inline-block;
    z-index: 1;
}

.title-text > p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius:35px;
}

.title-text h1{
    font-size: 50px;
    margin-bottom: 50px;
    height: 30px;
}

.feature-box{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.features p{
    font-size: 1.5em;
    font-weight: 400;
}

.features-img{
    flex-basis: 50%;
    margin: auto;
}

.features-img img{
    width: 100%;
    height: 200%;
    border-radius: 5px;
    margin: 10px;
}

.features h1{
    text-align: left;
    margin-bottom: 10px ;
    font-weight: 200;
    color: #019587;
    font-size: 1.5em;
    flex-direction: row;
}

.feature-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.features-icon img{
    width: 50px;
    height: 50px;
    text-align: left;
}

.features-icon .uil{
    width: 50px;
    height: 50px;
    background: linear-gradient(#c8f0ec, #28ab70, #0ea83d);
    color: #fff;
    font-size: 30px;
    line-height: 50px;
    padding: 7px;
    border-radius: 4px;
    margin-right: 20px;
}


@media screen and (max-width:900px){
    .features-icon{
        display: none;
    }
}
@media screen and (max-width:580px) {
    .feature-box{
        width: 95%;
        align-items:flex-start;
        text-align: start;
    }

    .title-text h1{
        font-size: 1.5em;
    }
    
    .features p{
        font-size: 0.85em;
        font-weight: 500;
    }

    .features h1{
        text-align: center;
        font-size: 1.2em;
    }
}


/*--Services Section--*/

.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}

.single-service img{
    width: 100%;
    border-radius: 7px;
}

.Overlay{
    width: 100%;
    height: 98%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.1),#009688);
    opacity: 0;
    transition: 1s ease;
}

.single-service:hover .Overlay{
    opacity: 1;
}

.service-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.single-service:hover .service-desc{
    bottom: 20%;
    opacity: 1;
}

@media screen and (max-width: 1000px){
    .single-service{
        flex-basis: 100%;
        margin: 30px;
    }

    .service-desc p{
        font-size: 14px;
    }

    hr{
        margin: 5px auto;
    }

    .single-service:hover .service-desc{
        bottom: 30% !important;
    }
    
}

@media screen and (max-width: 700px){
    .single-service{
        flex-basis: 100%;
        margin: 30px;
    }

    .service-desc p{
        font-size: 14px;
    }

    hr{
        margin: 5px auto;
    }

    .single-service:hover .service-desc{
        bottom: 20% !important;
    }
    
}

@media screen and (max-width: 500px){
    hr{
        margin:2px auto;
    }

    .service-desc h3{
        margin: 0;
        font-size: 12px;
    }

    .service-desc p{
        font-size: 11px;
    }

    .single-service:hover .service-desc{
        bottom: 3% !important;
    }

}


/*--Testimonial Section--*/

.testimonial-row{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonial-col{
    flex-basis: 30%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px gray;
    transition: 1s ease;
}

.testimonial-col:hover{
    transform: translateY(-10px);
    border-radius: 10px;
    box-shadow: 0 20px 20px 3px black;
}

.testimonial-col p{
    font-size: 14px;
}

.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user .uil{
    width: 20px;
    margin-right: 20px;
    color: #009688;
    font-size: 20px;
}

.user-info h4{
    margin-bottom: 0;
}

.user-info small{
    color: #009688;
}

@media screen and (max-width:900px) {
    .testimonial-row{
        width: 70%;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:600px){
    .testimonial-row{
        width: 90%;
    }
}

/*--Footer Section--*/

#footer{
    padding-top: 150px;
    background: linear-gradient(rgba(253, 252, 252, 1), #009688);
    width: 100%;
}

.footer-row{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-left, .footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.contact-info:not(:last-child){
    margin-bottom: 20px;
}

.contact-info{
    text-align: left;
}

.contact-info span{
    margin-left: 20px;
}

.contact-info .uil{
    font-size: 30px;
}

.uil-twitter, .uil-linkedin{
    color: rgb(0, 140, 255);
}

.uil-facebook{
    color: blue;
}

.uil-instagram{
    color: white;
}

.quick-links ul li{
    list-style: circle;
    margin-bottom: 15px;
}

.quick-links ul li a{
    color: black;
    text-decoration: none;
    transition: .5s ease;
}

.quick-links ul li a:hover{
    color: white;
    scale: 1.5;
}

.additional-info{
    text-align: center;
    font-weight: 500;
}

@media screen and (max-width:500px) {
    .footer-row{
        flex-direction: column;
    }
}

/*--Login Page--*/

.Login, .Register{
    background: url(bg3.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login header, .Register header, .PatientView header{
    position: absolute;
}

.Login .title-text p{
    font-size: 2.5em;
}

.Login .title-text > p::after{
    top: 0;
}

.Login h1 , .Register h1{
    margin-top: 20px;
}

.wrapper{
    background: transparent;
    backdrop-filter: blur(30px);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 10px 20px 0px;
    padding-bottom: 100px;
    overflow: hidden; 
}

.users{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.users button{
    height: 50px;
    padding: 7px;
    border-radius: 10px;
    font-weight: 400;
    color: black;
    cursor: pointer;
    transition: .5s ease;
}

.users button:not(:last-child){
    margin-right: 20px;
}

.users button:hover{
    background-color: black;
    color: white;
}

/*Login Section*/

.form.login{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 400px;
}

.form .login_patient,.login_doctor,.login_pharmacy,.login_company,.login_admin{
    transform: translateX(600PX);
    transition: 2s ease;
}

.form .login_admin.active{
    transform: translateX(-780px);
}

.form .login_company.active{
    transform: translateX(-520px);
}

.form .login_pharmacy.active{
    transform: translateX(-330px);
}

.form .login_patient.active{
    transform: translateX(-90px);
}

.form .login_doctor.active{
    transform: translateX(110px);
}

.input-box{
    position: relative;
    width: 230px;
    height: 40px;
    border-bottom: 2px solid black;
    margin: 20px 0;
    transition: .5s ease-in-out;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: -100px;
    font-size: 1em;
    color: black;
    font-weight: 500;
}

.login_company label{
    left: -150px ;
}

.login_pharmacy label{
    left: -150px ;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 500; 
    position: relative;
    left: 10px;
}

.forgot{
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.forgot a, .link a{
    text-decoration: none;
    color: black; 
}

.forgot a:hover ,.link a:hover{
    text-decoration: underline;
}

.link{
    width: 230px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 15px;
}

.loginbtn, .registerbtn{
    width: 200px;
    height: 45px;
    color: white;
    background: black;
    padding: 10px 50px;
    border-radius: 20px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: 1s ease;
}

.loginbtn:hover , .registerbtn:hover{
    background: rgb(193, 187, 187);
    color: black;
}

.btn-outline-primary{
    color: black;
    border: none;
    margin-bottom: 15px;
}

.btn

label.left{
    left: -80px;
}

/*Register Section*/

.Register .wrapper{
    height: 350px;
    transition: .5s;
    top: -7%;
}

.Register{
    background-size: cover;
    height: 150vh;   
}

.Register .form{
    transform: translateX(70px);
}

.form .register_patient,.register_doctor,.register_pharmacy,.register_company{
    transform: translateY(600PX);
    transition: 1s ease;
}

.form .register_patient.active{
    transform: translateY(-40px);
}

.form .register_doctor.active{
    transform: translateY(-610px);
}

.form .register_pharmacy.active{
    transform: translateY(-1130px);
}

.form .register_company.active{
    transform: translateY(-1530px);
}


/*Patients View */
.DoctorView header, .PatientView header{
    position: fixed;
}

.PatientView nav a{
    margin-top: 10px;
    margin-right: 30px;
}

.profile{
    text-align: center;
    margin-top: 10px ;
    width: 150px;
}

.profile a i{
    font-size: 20px;
}

.profile a{
    padding: 7px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.2em;
    transition: .7s ease;
}

.profile a:hover{
    background-color: #ccc;
}
@media screen and (max-width:1100px){
    .navbar{
        display: none;
    }

    .PatientView .navbar-toggle{
        display: block;
    }
}


/* Above Fold */
.image-container {
    position: relative;
    width: 100%;
    height: 650px;
    overflow: hidden;
    background: url('slide-1.jpg') no-repeat;
    zoom: 1.3;
    background-position: center;
}

.Overlay-image{
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.3),#009688);
    opacity: 0;
    transition: 1s ease;
}

.image-container:hover .Overlay-image{
    opacity: 1;
}

.content{
    transform: translateY(-300px);
}
  
.image-slide {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.image-desc {
    display: none;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
}

.image-desc.active {
    display: block;
}
  
.arrow-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(200px);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.arrow-buttons .uil {
    font-size: 50px;
    color: #fff;
    cursor: pointer;
    margin: 0 10px;
}

/* Search Bar */
  
.search-container, .select-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}
  
.search-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
    outline: none;
}

.search-container input:focus{
    outline: none;
    border-color: #0ea83d;
    box-shadow: 0 0 10px #0ea83d;
}
  
.search-container button {
    margin-left: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500 ;
}

.search-container button:hover{
    background-color: #ccc;
}

.select-container label{
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
}

.select-container select{
    width: 30%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.select-container select:focus{
    outline: none;
    border-color: #0ea83d;
    box-shadow: 0 0 10px #0ea83d;
}

/* Drugs */
.drug_section{
    padding: 30px;
    padding-right: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background: linear-gradient(rgba(255,255,255,0.1), rgba(0, 150, 136, 0.6), rgba(0, 150, 136, 0.8), rgba(0, 150, 136, 0.6), rgba(255,255,255,0.1));
}

.sidebar {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
}
  
.category-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.category-item {
    cursor: pointer;
    padding: 8px;
    margin-bottom: 5px;
}
  
.category-item:hover {
    background-color: #dcdcdc;
}
  
.category-item.active {
    background-color: #ccc;
}
  
.main_content {
    margin-left: 70px;
}
  
.category-content {
    display: none;
    width: 100%;
}
  
.category-content.active {
    display: flex;
    flex-direction: row;
}

.category-content.active .row{
    display: flex;
    flex-direction: row;
    padding: 20px;
} 

.category-content.active .row .med{
    padding: 20px;

}

#inquiries{
padding: 100px;
}

.form .col-form-label{
font-weight: 500;
}

.form-control:focus {
outline: none;
border-color: #0ea83d;
box-shadow: 0 0 10px #0ea83d;
}

.btn-primary{
background-color: black;
outline: none;
margin-bottom: 15px;

}

.btn-primary:hover{
background-color: white;
color: black;
border: 2px solid black;
}


.DoctorView .image-container{
    background-image: url(slide-2.jpg);
    zoom: .65;
    height: 1200px;
}

.DoctorView .Overlay-image{
    width: 100%;
    margin: 0;
    background: linear-gradient((255,255,255,0.1), #0ea83d);
}

.DoctorView .image-desc{
    transform: translateY(-200px);
    position: relative;
    left: 0%;
}

.DoctorView .arrow-buttons{
    left: 50%;
    top: -70%;
}

.DoctorView .arrow-buttons .uil{
    font-size: 100px;
}

.DoctorView .image-desc h2{
    font-size: 50px;
}

.DoctorView .image-desc p{
    font-size: 30px;
}

.DoctorView .main_content {
    margin-left: 50px;
}

.CompanyView .image-container{
    background-image: url(pharma-home.jpg);
    zoom: 1.3;
}

#Manage-Contracts, #Manage-Drugs, #Manage-Prescriptions, #Prescription-History, #Online-Orders{
    position: relative;
    top: -20%;
    left: -100px;
}


.PharmacyView .sidebar{
    position: relative;
    left: -30px;
}

